<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Uploader</title>
    <link href="/css/tailwind.css" rel="stylesheet" />
  </head>
  <body
    class="bg-gray-100 text-gray-800 font-sans flex justify-center items-center min-h-screen"
  >
    <div class="text-center p-6">
      <h1 class="text-4xl font-bold mb-6 text-red-800">File Uploader</h1>
      <div class="space-x-4">
        <a href="/login">
          <button
            class="bg-red-800 text-white px-6 py-3 rounded hover:bg-red-600 transition"
          >
            Log in
          </button>
        </a>
        <a href="/register">
          <button
            class="bg-green-500 text-white px-6 py-3 rounded hover:bg-green-400 transition"
          >
            Register
          </button>
        </a>
      </div>
    </div>
  </body>
</html>
