<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log in</title>
    <link href="/css/tailwind.css" rel="stylesheet" />
  </head>
  <body
    class="bg-gray-100 text-gray-800 font-sans flex justify-center items-center min-h-screen"
  >
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-sm">
      <h1 class="text-3xl font-bold text-center text-red-800 mb-6">Log in</h1>
      <form action="/login" method="POST">
        <div class="mb-4">
          <label for="name" class="block text-sm font-medium text-gray-700"
            >Username:</label
          >
          <input
            type="text"
            id="name"
            name="name"
            class="mt-1 p-3 border border-gray-300 rounded w-full focus:outline-none focus:ring-2 focus:ring-blue-500"
            autofocus
            required
          />
        </div>
        <div class="mb-6">
          <label for="password" class="block text-sm font-medium text-gray-700"
            >Password:</label
          >
          <input
            type="password"
            id="password"
            name="password"
            class="mt-1 p-3 border border-gray-300 rounded w-full focus:outline-none focus:ring-2 focus:ring-blue-500"
            required
          />
        </div>
        <button
          type="submit"
          class="bg-red-800 text-white px-6 py-3 rounded w-full hover:bg-red-600 transition"
        >
          Log in
        </button>
      </form>
    </div>
  </body>
</html>
